<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CampusNow</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: purple;">
        <a class="navbar-brand" href="#">CampusNow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Photos</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-3">Welcome to the Events Page!</h1>
          <p class="lead">keep yourself posted with the latest news on the go :)</p>
        </div>
      </div>


      <form style="margin: 5px;" action="/home" method="POST">
        <div class="form-group">
          <label for="formGroupExampleInput">Title</label>
          <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="Here's the Big Picture" required>
        </div>
        <div class="form-group purple-border-focus">
          <label for="exampleFormControlTextarea5"></label>
          <textarea name="details" class="form-control" id="exampleFormControlTextarea5" rows="6" placeholder="Doesnt have to make sense" required></textarea>
          
        </div>
        <button id="frbt" type="submit" style="margin: 5px;background-color: purple;color: white;" class="btn">Submit</button>
      </form>


      <div class="container">
        <% for (var i=0; i < myData.length; i++) { %>
        <div class="jumbotron">
            <h1 class="display-3"><%-myData[i].title%></h1>
            <p class="lead"><%-myData[i].details%></p>
            <hr class="my-2">
              <a class="btn btn-lg" href="#!" role="button" style="margin: 5px;background-color: purple;color: white;">Delete</a>
            </p> 
          </div>
          <%} %>
          
      </div>
      
      
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>